---
import LayoutMaterias from '@layouts/LayoutMaterias.astro';

---

<LayoutMaterias
  fecha={{dia: 29, mes: 7, año: 2024}}
  linkName='ing'
>

  <article class="max-w-[700px] w-full mx-auto flex flex-col gap-8">
    <section>  
      <h1 class="title">Título</h1>
    </section>

    <section>
      <p>Texto de relleno</p>
    </section>
  </article>

</LayoutMaterias>