---
import LayoutMaterias from "@/layouts/LayoutMaterias.astro";
---

<LayoutMaterias
  fecha={{dia:2,mes:9,año:2024}}
  linkName="ing"
>

  <main>
    
    <section class="flex flex-col mb-12 items-center">
      <h1 class="title">Irregular verbs</h1>
      <p>Choose the correct options:</p>
    </section>
    
    <section class="mb-12">
      <p>ex: have - <span class="sub">had</span> / haved</p>
      <ol>
        <li>meet - meet (presente) / <span class="sub">met</span> (pasado)</li>
        <li>win - wan / <span class="sub">won</span></li>
        <li>lose - <span class="sub">lost</span> / losen</li>
        <li>buy - buyed / <span class="sub">bought</span></li>
        <li>eat - eat / <span class="sub">ate</span></li>
        <li>see - <span class="sub">saw</span> / sew</li>
      </ol>
    </section>

    <section class="flex flex-col mb-8">
      <h1 class="title">Past simple: regular and irregular</h1>
      <p>Los verbos regulares no cambian su forma base al momento de conjugarse, los verbos irregulares si cambian.</p>
    </section>

    <section class="mb-12">
      <ol>
        <li>I <span class="sub">found</span> (find) the bag under the desk -> Ni idea pero parece irregular por cambiar la "i"</li>
        <li>He <span class="sub">went</span> (go) there on holiday -> Irregular</li>
        <li>We <span class="sub">visited</span> (visit) the museum -> Regular</li>
        <li>She <span class="sub">had</span> (have) pizza for dinner -> Ni idea pero parece irregular por cambiar el "ve"</li>
      </ol>
    </section>

    <section class="flex flex-col items-center mb-8">
      <h1 class="title sub text-blue-400">Pronunciation of -ED</h1>
      <p><a class="text-info" href="https://www.ejemplos.co/verbos-terminados-en-ed-en-ingles/">Esta página</a> tiene información interesante sobre este tema</p>
    </section>

    <section class="flex flex-col">
      <p>(Tuve que buscar ejemplos porque no se me ocurrieron muchos)</p>
      <table class="table">
        <tr>
          <th>/<span class="underline decoration-blue-400 decoration-2 underline-offset-4">id</span>/</th>
          <th>/<span class="underline decoration-blue-400 decoration-2 underline-offset-4">t</span>/</th>
          <th>/<span class="underline decoration-blue-400 decoration-2 underline-offset-4">d</span>/</th>
        </tr>
        <tr>
          <td>T <span class="text-blue-400">visi<strong class="sub">t</strong>ed</span></td>
          <td>P <span class="text-blue-400">hel<strong class="sub">p</strong>ed</span></td>
          <td>L <span class="text-blue-400">ca<strong class="sub">ll</strong>ed</span></td>
        </tr>
        <tr>
          <td>D <span class="text-blue-400">nee<strong class="sub">d</strong>ed</span></td>
          <td>K <span class="text-blue-400">as<strong class="sub">k</strong>ed</span></td>
          <td>N <span class="text-blue-400">bur<strong class="sub">n</strong>ed</span></td>
        </tr>
        <tr>
          <td></td>
          <td>F <span class="text-blue-400">sur<strong class="sub">f</strong>ed</span></td>
          <td>R <span class="text-blue-400">bo<strong class="sub">r</strong>ed</span></td>
        </tr>
        <tr>
          <td></td>
          <td>GH <span class="text-blue-400">lau<strong class="sub">gh</strong>ed</span></td>
          <td>G <span class="text-blue-400">ru<strong class="sub">gg</strong>ed</span></td>
        </tr>
        <tr>
          <td></td>
          <td>SH <span class="text-blue-400">fini<strong class="sub">sh</strong>ed</span></td>
          <td>V <span class="text-blue-400">lo<strong class="sub">v</strong>ed</span></td>
        </tr>
        <tr>
          <td></td>
          <td>CH <span class="text-blue-400">wat<strong class="sub">ch</strong>ed</span></td>
          <td>S <span class="text-blue-400">use<strong class="sub">d</strong></span></td>
        </tr>
        <tr>
          <td></td>
          <td>SS <span class="text-blue-400">spa<strong class="sub">ce</strong></span></td>
          <td>Z <span class="text-blue-400">bu<strong class="sub">zz</strong>ed</span></td>
        </tr>
        <tr>
          <td></td>
          <td>C <span class="text-blue-400">pi<strong class="sub">ck</strong>ed</span></td>
          <td>B <span class="text-blue-400">gra<strong class="sub">bb</strong>ed</span></td>
        </tr>
        <tr>
          <td></td>
          <td>X <span class="text-blue-400">Fi<strong class="sub">x</strong>ed</span></td>
          <td>M <span class="text-blue-400">ja<strong class="sub">mm</strong>ed</span></td>
        </tr>
      </table>
    </section>
  </main>

  <style>
    table {
      font-size: 16px;
    }

    table td {
      font-size: 15px;
    }
  </style>

</LayoutMaterias>