---
import LayoutMaterias from "@/layouts/LayoutMaterias.astro";
import ELEMENTOJSX from "./ELEMENTOJSX"
---

<LayoutMaterias
  fecha={{dia:29,mes:8,año:2024}}
  linkName="ds"
>

<a href="ftp://192.168.1.5:2222/Memoria del dispositivo/">Enlace</a>
<ul>
  <ELEMENTOJSX />
</ul>
</LayoutMaterias>