---
import Layout from "../layouts/Layout.astro";
import ListaEconomia from "./economia/ListaEconomia";
---

<Layout title="Lab Redes">
  <main class="text-white w-full max-w-[calc(900px-(8*4))] h-auto mx-auto px-8 gap-64 flex flex-col">
    {
      ListaEconomia.map((Day) => {
        return (
          <section class="w-auto max-w-[calc(900px-(8*4))] mx-auto">
            <p class="date">{Day.date}</p>
            <Day.day />
          </section>
        )
      })
    }
  </main>
</Layout>