---
import LayoutMaterias from "@layouts/LayoutMaterias.astro";
import LayoutDias from "@layouts/LayoutDias.astro";
import { ListaGeometría } from "@lib/ListaGeometría"
import ClasesMaterias from "@components/ClasesMaterias"

const shortName = "geometría"
---

<LayoutMaterias title="Inicio" materiaLink={shortName} materiaName="Geometría">
  <h1 class="title">
    Geometría
  </h1>
  <ul class="menu h-full w-full flex flex-col justify-start items-center">
    <ClasesMaterias lista={ListaGeometría} listaName={shortName}/>
  </ul>
</LayoutMaterias>

<style>
  #dia {
    height: 48px;
  }
</style>