---
import LayoutMaterias from "@/layouts/LayoutMaterias.astro";
---

<LayoutMaterias
  fecha={{dia: 1, mes: 8, año: 2024}}
  linkName="bd"
>
  <article>
    <section>
      <h1 class="title">Normalización</h1>
    </section>
    
    <section>
      <p>Se le llama al proceso por el cual transformamos datos complejos a un conjunto de estructuras de datos más pequeñas.</p>
    </section>
    
    <section>
      <h2 class="title-sub">Ventajas</h2>
      <ul>
        <li class="list-inside list-disc">Más fácil de entender las cosas.</li>
        <li class="list-inside list-disc">Menos repeticiones de datos y por ello menos uso de memoria en disco.</li>
        <li class="list-inside list-disc">Previene errores lógicos.</li>
        <li class="list-inside list-disc">Facilita agregar columnas.</li>
      </ul>
    </section>

    <section class="flex flex-col gap-2">
      {
        ["","",""].map((_, i) => {
          return (
            <div class="flex justify-center items-center w-fit gap-3 h-8">
              <div class="bg-black flex justify-center items-center h-8 w-8 border rounded outline-1">
                <img
                  class="h-6"
                  src="/assets/icon - db.webp"
                />
              </div>
              <p>{i + 1}º Forma Normal</p>
            </div>
          )
        })
      }
    </section>

    <section>
      <h2 class="title3 title-sub">
         Ejemplo: Pedido-prod
      </h2>
      <div class="overflow-x-auto">
        <table class="table">
          <tr>
            <th>ID_pedido</th>
            <th>Fecha</th>
            <th>ID_cliente</th>
            <th>Nombre</th>
            <th>ID_producto</th>
            <th>Nombre_producto</th>
          </tr>
          <tr>
            <td>123</td>
            <td>23/11/10</td>
            <td>01</td>
            <td>Juan</td>
            <td>P01</td>
            <td>Mouse</td>
          </tr>
          <tr>
            <td>123</td>
            <td>23/11/10</td>
            <td>01</td>
            <td>Juan</td>
            <td>P02</td>
            <td>Teclado</td>
          </tr>
          <tr>
            <td>123</td>
            <td>23/11/10</td>
            <td>07</td>
            <td>Juan</td>
            <td>P01</td>
            <td>Monitor</td>
          </tr>
          <tr>
            <td>345</td>
            <td>01/12/10</td>
            <td>02</td>
            <td>María</td>
            <td>P01</td>
            <td>Mouse</td>
          </tr>
        </table>
      </div>
    </section>
  </article>
</LayoutMaterias>