---
import LayoutMaterias from "@/layouts/LayoutMaterias.astro";
---

<LayoutMaterias
  fecha={{ dia: 29, mes: 8, año: 2024 }}
  linkName="bd"
>

  <main class="flex flex-col gap-12">
    <section class="flex flex-col items-center">
      <h1 class="title">SQL</h1>
      <p>Structured Query Language</p>
    </section>

    <section>
      <p>Lenguaje de consulta estructurada. Lenguaje declarativo de acceso a bases de datos relacionales. La cuál permite especificar diversos tipos de operaciones en ellas, como:</p>
      <ul>
        <li>Consultas a BBDD (Bases de Datos)</li>
        <li>Recuperar información</li>
        <li>Hacer cambios en las bases de datos</li>
      </ul>
    </section>

    <section>
      <h2 class="title2">¿Qué significa SQL?</h2>
      <ul>
        <li>Lenguaje de programación que ayuda a solucionar problemas de definición, manipulación e integridad.</li>
        <li>Una sola sentencia equivale a una o más líneas de código en otro lnguaje.</li>
      </ul>
      <p>SQL nos perite mayor productividad y eficiencia.</p>
    </section>

    <section class="flex flex-col gap-8">
      <article class="flex border w-fit mx-auto p-2 px-3 rounded ">SQL</article>
      <div class="flex justify-center gap-8">
        <box-box class="relative border-red-400 text-red-400 flex border w-fit p-2 px-3 rounded">DML</box-box>
        <box-box class="relative border-red-400 text-red-400 flex border w-fit p-2 px-3 rounded">DDL</box-box>
      </div>
    </section>

    <section>
      <h4 class="title4">DML</h4>
      <p>Lenguaje de manipulación de datos</p>
      <ul>
        <li>INSERT -> Nos permite la inserción de datos.</li>
        <li>DELETE -> Eliminamos registros.</li>
        <li>SELECT -> Podemos con sultar los datos de una tabla.</li>
        <li>UPDATE -> Actualizamos los datos de las tablas.</li>
      </ul>
    </section>

    <section>
      <h4 class="title4">DDL</h4>
      <p>Lenguaje de Definición de datos</p>
      <ul>
        <li>CREATE -> Crear BD y tablas.</li>
        <li>ALTER -> Modificar BD y tablas.</li>
        <li>DROP -> Eliinar BD y tablas.</li>
        <li>RENAME -> Renombran BD y tablas.</li>
      </ul>
    </section>

    <section class="flex flex-col">
      <box-box2 class="rounded border p-2 mb-8 mx-auto">Otras cosas que encontramos</box-box2>
      <ul>
        <li><span class="sub underline-offset-4">Integridad</span>: El DDL incluye comandos para especificar las restricciones de integridad que deben cumplir los datos.</li>
        <li><span class="sub underline-offset-4">Autorización</span>: Incluye comandos para otorgar privilegios.</li>
        <li><span class="sub underline-offset-4">Definición de vistas</span>: Incluye comandos para definir las vistas.</li>
        <li><span class="sub underline-offset-4">Control de transacciones</span>: Son comandos para escpecificar el comienzo y final de una transacción.</li>
        <li><span class="sub underline-offset-4">SQL incorporado y dinámico</span>: Permite incorporar sentencias en otros leguajes de programación como: c, c++, java, etc.</li>
      </ul>
    </section>

    <section>
      <h3 class="title3 sub">Tipos de datos</h3>
      <div class="grid grid-cols-2 gap-x-4">
        <p>Int -> núm entero.</p>
        <p>Smallint -> Como el int pero más reducido.</p>
        <p>Tinyint -> Como el smallint pero más reducido.</p>
        <p>char -> Carácter.</p>
        <p>varchar -> Cadena de carácteres.</p>
        <p>Date -> Fecha.</p>
        <p>Time -> Hora.</p>
        <p>Datatime -> Día y hora.</p>
        <p>Boolean -> True o false.</p>
      </div>
    </section>

    <section>
      <h3 class="title3 sub text-red-400">DDL</h3>
      <p>Estructura BD:</p>
      <ul>
        <li>Tablas: Son entidades o relaciones.</li>
        <li>Columnas: Son atributos</li>
      </ul>
      <p>Claves:</p>
      <ul>
        <li>PK: Primary Key - Clave Primaria</li>
        <li>FK: Foreign Key - Clave Externa</li>
      </ul>
    </section>

    <section>
      <h4 class="title4 sub text-red-400">CREATE:</h4>
      <p>Podemos crear BD</p>
    </section>
  </main>

  <style>
    .title {
      line-height: 0;
    }

    box-box::after {
      content: "--->";
      position: absolute;
      top: -28px;
      transform:
        rotate(130deg)
      ;
      width: fit-content;
      height: fit-content;
      /* rotate: 120deg; */
    }

    box-box:nth-of-type(2)::after {
      transform: rotate(50deg);
      right: 10px;
    }
  </style>

</LayoutMaterias>