---
import LayoutMaterias from "@layouts/LayoutMaterias.astro";
import { ListaInglés } from "@/lib/ListaInglés";
import ClasesMaterias from "@/components/ClasesMaterias";

const shortName = "inglés"
---

<LayoutMaterias title="Inicio" materiaLink={shortName} materiaName="Inglés">
  <h1 class="title">
    Inglés
  </h1>
  <ul class="menu h-full w-full flex flex-col justify-start items-center">
    <ClasesMaterias lista={ListaInglés} listaName={shortName} />
  </ul>
</LayoutMaterias>

<style>
  #dia {
    height: 48px;
  }
</style>