---
import LayoutMaterias from '@layouts/LayoutMaterias.astro';

---

<LayoutMaterias
  title='Clase 29/7'
  date='29 de Julio de 2024'
  fileName='ingles_day29-7'
  materiaName='Inglés'
  materiaLink='inglés'
>

  <article class="max-w-[700px] w-full mx-auto flex flex-col gap-8">
    <section>  
      <h1 class="title">Título</h1>
    </section>

    <section>
      <p>Texto de relleno</p>
    </section>
  </article>

</LayoutMaterias>