---
import LayoutClases from "@/layouts/LayoutClases.astro";
---

<LayoutClases
  fecha={{dia:6,mes:9,año:2024}}
  linkName="lr"
>
  <nav class="mb-8">
    <p>Foto del día</p>
    <ul>
      <li class="text-info link-hover"><a href="/assets/lr 6_9_24 (1).jpeg">Imagen 1</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h1 class="title">OBLIGATORIO</h1>
      <p>Emulador RetroArch -> Estable</p>
      <p>|</p>
      <p>-> Cores: Mame32, NeoGeo, Sega Génesis, Atari</p>
      <p>-> Roms: Prince of Persia, Street Fighter, Space Invader, Mortal Kombat, Metal Slug</p>
      <p>Frontend</p>
      <p>(Diseño de la foto del frontend)</p>
    </section>
  </main>

</LayoutClases>