---
import LayoutMaterias from '@layouts/LayoutMaterias.astro';
---

<LayoutMaterias
  title='Clase 26/7'
  date='26 de Julio de 2024'
  fileName='redes_day26_7'
  materiaName='Lab Redes'
  materiaLink='lab_redes'
>

  <article class="max-w-[700px] w-full mx-auto flex flex-col gap-8">
    <section>
      <h1 class="title">Título</h1>
    </section>  

    <section>
      <p>Texto de relleno</p>
    </section>
  </article>

</LayoutMaterias>