---
import LayoutMaterias from '@layouts/LayoutMaterias.astro';
---

<LayoutMaterias
  fecha={{dia: 26, mes: 7, año: 2024}}
  linkName="lr"
>

  <article>
    <section>
      <h1 class="title">Título</h1>
    </section>  

    <section>
      <p>Texto de relleno</p>
    </section>
  </article>

</LayoutMaterias>