---
import Layout from "@/layouts/Layout.astro"

---
<Layout title="Config">
  <main class="w-full max-w-[calc(900px-(8*4))] h-full mx-auto px-8 flex flex-col">
    <section class="max-w-[700px] w-full mx-auto flex flex-col">
      <slot />
    </section>
  </main>
</Layout>