---
import LayoutMaterias from "@layouts/LayoutMaterias.astro";
import { nombresMaterias } from "@/lib/nombresMaterias";
import FiltroClases from "@/components/FiltroClases" 

interface Props {
  linkName: string;
}
const { linkName } = Astro.props;

const { nm_longName, nm_linkName } = nombresMaterias(linkName);

---

<LayoutMaterias linkName={nm_linkName}>
  <h1 class="title">
    {nm_longName}
  </h1>
  <section class="menu px-0 h-full w-full flex flex-col items-center gap-6">
    <FiltroClases linkName={nm_linkName} client:only/>
  </section>
</LayoutMaterias>
