---
import LayoutLabRedes from "../../layouts/Layout_lab_redes.astro";
---

<LayoutLabRedes title="Clase 26/7">
  <article>
    <section>
      <h1>Infografías</h1>
    </section>
  </article>
</LayoutLabRedes>